h1 {
    font-size: 150px;
    justify-content: center;
    display: flex;
    font-family: "Pixelify Sans", sans-serif;
}

.image {
    margin-left: 225px;
    border: 7px solid black;
    image-rendering: smooth;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

h2 {
    font-size: 32px;
    font-family: "Macondo", cursive;
    text-align: center;
    margin-right: 1800px;
}

body {
background-color: bisque;
margin: 0px;
}

.sgm {

border: 7px solid black;
margin-left: 125px;
}

.miku {
border: 7px solid black;
}

.mgs {
border: 7px solid black;
background: cyan;


}

.navbar ul{
    list-style: none;
    background-color: rgb(42, 42, 42);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: right;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 40px;
    display: block;
    text-align: center ;
}

.navbar a:hover {
    background-color: rgb(29, 29, 29);
}

.navbar li{
    float: left;
}

.cartman {
    margin-left: 600px;
    border: 7px solid black;
    image-rendering: smooth;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.desc {
    margin-left: 720px;
    width: 1000px;
    height: 300px;
}



.monkey {
    width: 2515px;
    height: 0px;
}

.monk {
    width: 2515px;
    vertical-align: text-top;
}

.ilove {
    font-size: 40px;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-left: 30px;
}